.navbar
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: black; */
    background-image: linear-gradient(black,rgba(0, 0, 0, 0) );
    height: 8vh;
    color: bisque;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2.5%;
    font-size: 2.5vh;
}

.navHeading
{
    margin-left: 5%;
    font-size: 5vh;
}

@media (max-width: 940px){
}

@media only screen and (max-width: 600px){
    div.navHeading{
        font-size: large;  
    }

    img.ieee{
        max-width: 100px;
        max-height: 35px;
    }
}

@media only screen and (max-width: 300px){
    img.ieee{
        max-width: 0;
        max-height: 0;
    }
    
    /* img.logo{
        max-width: 0;
        max-height: 0;
    } */
}

.menuLine
{
    height: 2px;
    background-color: bisque;
    width: 30px;
    margin-bottom: 5px;
}

.menuTrigger
{
    /* border: 2px solid salmon; */
    width: 5vw;
    height: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.line1, .line2, .line3 {
    height: 2px;
    background-color: bisque;
    width: 30px;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
}

.line1-open {
    transform: rotate(45deg) translate(5px, 5px);
}

.line2-open {
    opacity: 0;
}

.line3-open {
    transform: rotate(-45deg) translate(5px, -5px);
}

.menuTrigger:hover
{
    cursor: pointer;
}

.navHeading:hover
{
    cursor: pointer;
}

.ieee
{
    /* width: 50vw;
    height: 5vh; */
    /* width: 10%; */
    height: 125%;
    margin-right: 2px;
    margin-top: -10px;
    transform: scale(0.8,0.8);
    /* border: 2px solid brown; */
     float: left;
  max-width: 150px;   /* adjust as needed */
  height: auto;
  margin-right: 1rem; /* space between image and text */
  display: block;
  
}
